.container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.home-attendance{
    margin-top: 100px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}